<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <% if (editing) { %>
            <form class="product-form" action="/edit-item" method="POST">
        <% } else { %>
            <form class="product-form" action="/add-item" method="POST">
        <% } %>
            <div class="form-control">
                <label for="itemname">Item Name</label>
                <input type="text" name="itemname" id="itemname" value="<% if (editing) { %><%= todo.itemname %><% } else { %> <% }%>"><br>
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="8" cols="50"><% if (editing) { %><%= todo.description %><% } else { %> <% }%></textarea><br>
                <% if (editing) { %>
                <label for="status">Status</label> 
                <select name="status" id="status">
                    <option value="notstarted">NotStarted</option>
                    <option value="ongoing">Ongoing</option>
                    <option value="completed">Completed</option>
                </select><br> <% } %>
            </div>
            <% if (editing) { %>
                <input type="hidden" name="itemid" value="<%= todo.itemid %>">
                <input type="hidden" name="createdon" value="<%= todo.createdon %>">
            <% } %>
            <button class="btn" type="submit">Save item</button>
        </form>
    </main>
</body>

</html>