<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <% if (!isAuthenticated) { %>
        <div id="loggedout-content">
            <h1> To Do list app</h1>
            <p> You must have an account to use this app. Please <a href="/login">log in</a> or <a href="/create-account">create an account to continue.</a> </p>
        </div>
        <% } %>

        <% if (isAuthenticated) { %>
        <div id="list-content">
            <h1>My To-do List</h1>
            <form action="/api/v1/todos" method="GET">
                <label for="taskstatus">Show items by status:</label>
                <select id="taskstatus" name="taskstatus">
                    <option value="notstarted">not started</option>
                    <option value="ongoing">ongoing</option>
                    <option value="completed">completed</option>
                    <option value="all">all</option>
                </select>
                <button class="btn" type="submit">Show my to-dos</button>
            </form>
            <% if (todos.length > 0) { %>
            <table>
                    <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    </tr>
                <% for (let todo of todos) { %>
                <tr>
                    <td><%= todo.id %></td>
                    <td><%= todo.itemname %></td>
                    <td><%= todo.description %></td>
                    <td><%= todo.createdAt %></td>
                    <td><%= todo.updatedAt %></td>
                    <td><%= todo.taskstatus %></td>
                    <td><a href="/edit-item/<%= todo.id %>?edit=true"><button class="btn" type="submit">&#9874;</button></a></td>
                    <td>
                        <form class="edit-row" action="/delete-item" method="POST">
                            <input type="hidden" value="<%= todo.id %>" name="id">
                            <button class="btn" type="submit">&#10005;</button>
                        </form>
                    </td>
                    </tr>
                <% } %>
            </table> 
            <% } else { %>
                <h3>Looks like there's nothing to do</h3>
            <% } %>
            <a href="/add-item"><button class="btn">Add new item</button></a>
        </div>
        <% } %>
    </main>
</body>

</html>